<!DOCTYPE html>
<html lang="en">
<head>
	{%  load crispy_forms_tags %}
	{% load static %}
	<title>信息录入</title>
	<meta charset="UTF-8">

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}"/>
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>

	<!--===============================================================================================-->
</head>
<body>

<div class="bg-container-contact100" style="background-image: url('{% static 'images/bg-01.jpg' %}');">
	<div class="contact100-header flex-sb-m">
		<a href="#" class="contact100-header-logo">
			<img src="{% static 'images/icons/logo.png' %}" alt="LOGO">
		</a>

		<div>
			<button class="btn-show-contact100">
				信息录入
			</button>
		</div>
		<div>
			<button class="btn btn-light">
				<a href="{% url 'manage' %}">
					查询删除
				</a>
			</button>
		</div>
	</div>
</div>

<div class="container-contact100">
	<div class="wrap-contact100">
		<button class="btn-hide-contact100">
			<i class="zmdi zmdi-close"></i>
		</button>

		<div class="contact100-form-title" style="background-image: url('{% static 'images/bg-02.jpg' %}');">
			<span>信息录入</span>
		</div>

		<div class="overflow-auto">
			<form class="contact100-form validate-form" method="POST" action="{% url 'getProjectData' %}">
				{% csrf_token %}
				<div class="wrap-input100">
					<div class="row" id="irons">
						<div class="col">
							<button type="button" class="contact100-form-btn "
									data-toggle="modal"
									data-target="#exampleModal"
									onclick=document.getElementById("do").reset()>
								添加钢材信息
							</button>
						</div>
					</div>
				</div>
				<div class="wrap-input100 validate-input">
					<input id="projectName" class="input100" type="text" name="projectName" placeholder="项目名称">
					<span class="focus-input100"></span>
					<label class="label-input100" for="projectName">
						<span class="lnr lnr-user m-b-2"></span>
					</label>
				</div>
				<div class="wrap-input100 validate-input">
					<input id="formNumber" class="input100" type="text" name="formNumber" placeholder="提货单编号">
					<span class="focus-input100"></span>
					<label class="label-input100" for="formNumber">
						<span class="lnr lnr-user m-b-2"></span>
					</label>
				</div>
				<div class="wrap-input100 validate-input">
					<input id="time" class="input100" type="Date" name="time" placeholder="提货单时间">
					<span class="focus-input100"></span>
					<label class="label-input100" for="time">
						<span class="lnr lnr-user m-b-2"></span>
					</label>
				</div>
				<div class="wrap-input100 validate-input">
					<input id="destination" class="input100" type="text" name="destination" placeholder="目的地">
					<span class="focus-input100"></span>
					<label class="label-input100" for="destination">
						<span class="lnr lnr-user m-b-2"></span>
					</label>
				</div>
				<div class="wrap-input100 ">
					<input id="deliveryAmount" class="input100" type="text" name="deliveryAmount" placeholder="运费总额">
					<span class="focus-input100"></span>
					<label class="label-input100" for="deliveryAmount">
						<span class="lnr lnr-user m-b-2"></span>
					</label>
				</div>
				<div class="wrap-input100 ">
					<input id="deliveryPlate" class="input100" type="text" name="deliveryPlate" placeholder="运输车辆">
					<span class="focus-input100"></span>
					<label class="label-input100" for="deliveryPlate">
						<span class="lnr lnr-user m-b-2"></span>
					</label>
				</div>
				<div class="wrap-input100">
					<input id="deliveryPerson" class="input100" type="text" name="deliveryPerson" placeholder="运输人">
					<span class="focus-input100"></span>
					<label class="label-input100" for="deliveryPerson">
						<span class="lnr lnr-user m-b-2"></span>
					</label>
				</div>
				<div class="wrap-input100">
					<input id="deliveryPickFee" class="input100" type="text" name="deliveryPickFee" placeholder="吊装费">
					<span class="focus-input100"></span>
					<label class="label-input100" for="deliveryPickFee">
						<span class="lnr lnr-user m-b-2"></span>
					</label>
				</div>
				<div class="wrap-input100">
					<textarea id="message" class="input100" name="notes" placeholder="备注信息"></textarea>
					<span class="focus-input100"></span>
					<label class="label-input100 rs1" for="message">
						<span class="lnr lnr-bubble"></span>
					</label>
				</div>
				<div class="container-contact100-form-btn">
					<button class="contact100-form-btn">
						提交
					</button>
				</div>
			</form>
			<form action="{% url 'deleteAllData' %}">
				<button type="submit">delete all</button>
			</form>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">钢材信息</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" >
				<form class="contact100-form validate-form" id="do" method="POST">
					{% csrf_token %}

					<div class="wrap-input100 validate-input">
						<input id="ironName" class="input100" type="text" name="ironName" placeholder="钢材规格">
					</div>
					<div class="wrap-input100">
						<input id="ironPrice" class="input100" type="text" name="ironPrice" placeholder="钢材单价">
					</div>
					<div class="wrap-input100">
						<input id="Quality" class="input100" type="text" name="Quality" placeholder="钢材数量">
					</div>
					<!--					<div class="wrap-input100">-->
					<!--						<input id="totalPrice" class="input100" type="text" name="totalPrice" placeholder="总金额">-->
					<!--					</div>-->
					<div class="wrap-input100">
						<input id="ironProfit" class="input100" type="text" name="ironProfit" placeholder="毛利润">
					</div>
					<div class="wrap-input100">
						<input id="paymentDate" class="input100" type="Date" name="paymentDate" placeholder="付款日期">
					</div>
					<div class="wrap-input100">
						<input id="dealAmount" class="input100" type="text" name="dealAmount" placeholder="交货数量">
					</div>
					<div class="wrap-input100">
						<input id="pickupAmount" class="input100" type="text" name="pickupAmount" placeholder="提货数量">
					</div>
					<div class="wrap-input100">
						<input id="pickupCompany" class="input100" type="text" name="pickupCompany" placeholder="提货公司">
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary" onclick="add()">提交</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<!--===============================================================================================-->
<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/daterangepicker/moment.min.js' %}"></script>
<script src="{% static 'vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'js/main.js' %}"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<!--	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>-->
<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-23581568-13');
	</script>

<script type="text/javascript">
		function add() {
			if($('#ironName').val() == ''){
				return false;
			}

			$.ajax({
				type: 'POST',
				url: '{% url "getData" %}',
				data: {
						'action':'POST',
						'csrfmiddlewaretoken': '{{ csrf_token }}',
						'ironName':$('#ironName').val(),
						'ironPrice':$('#ironPrice').val(),
						'Quality':$('#Quality').val(),
						'ironProfit': $('#ironProfit').val(),
						'paymentDate': $('#paymentDate').val(),
						'dealAmount': $('#dealAmount').val(),
						'pickupAmount': $('#pickupAmount').val(),
						'pickupCompany': $('#pickupCompany').val()
				},
				dataType: 'json',
				success: function (data) {
					alert("success");
					if(data.isExist == 1){
						return;
					}

					var inp = document.createElement("button");
                    inp.type = "button";
                    inp.innerHTML = data.ironName;
                    inp.setAttribute('value',data.ironName);
                    inp.setAttribute('class',"contact100-form-btn ");
                    inp.setAttribute('data-toggle','modal');
                    inp.setAttribute('data-target','#exampleModal');
                    var div = document.createElement("div");
                    div.className = "col";
                    div.appendChild(inp);
                    document.getElementById('irons').append(div);
                    inp.setAttribute('onclick', "iron_information(this)");

				},
				error: function(data) {
					alert("something wrong");
				}
			});

			return true;
		};


		function iron_information(param) {
			var name = param.innerHTML;
            $.ajax({
                type: 'POST',
				url: '{% url 'sendDataBack' %}',
				data: {
						'action':'POST',
						'csrfmiddlewaretoken': '{{ csrf_token }}',
						'ironName':name
				},
                dataType: 'json',
                success: function (data) {
                    document.getElementById('ironName').value = data.ironName;
                    document.getElementById('ironPrice').value = data.ironPrice;
                    document.getElementById('Quality').value = data.Quality;
                    document.getElementById('ironProfit').value = data.ironProfit;
                    document.getElementById('paymentDate').value = data.paymentDate;
                    document.getElementById('dealAmount').value = data.dealAmount;
                    document.getElementById('pickupAmount').value = data.pickupAmount;
                    document.getElementById('pickupCompany').value = data.pickupCompany;
                },
            })
        }

	</script>
</body>
</html>
