<!DOCTYPE html>
<html lang="en">
<head>
		{% load static %}
	<title>Table V01</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'management/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'management/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'management/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'management/vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'management/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'management/vendor/perfect-scrollbar/perfect-scrollbar.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'management/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'management/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>
	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<form class="form-inline" method="post">
						{% csrf_token %}
						<div class="input-group mb-2 mr-sm-2">
							<input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="输入提货单编号">
						</div>
						<button type="submit" class="btn btn-primary mb-2" onclick="searchByForm()">搜索</button>
				</form>
				<div class="table100">
					<table>
						<thead>
							<tr class="table100-head">
								<th class="column1">Date</th>
								<th class="column2">Order ID</th>
								<th class="column3">Name</th>
								<th class="column4">Price</th>
								<th class="column5">Quantity</th>
								<th class="column6">Total</th>
								<th class="column7">Total</th>
								<th class="column8">Total</th>
								<th class="column9">Total</th>
								<th class="column10">Total</th>
								<th class="column11">Total</th>
								<th class="column12">Total</th>
								<th class="column13">Total</th>
								<th class="column14">Total</th>
								<th class="column15">Total</th>
								<th class="column16">Total</th>
								<th class="column17">Total</th>
								<th class="column18">Total</th>
							</tr>
						</thead>
						<tbody>
								<tr>
									<td class="column1">2017-09-29 01:22</td>
									<td class="column2">200398</td>
									<td class="column3">iPhone X 64Gb Grey</td>
									<td class="column4">$999.00</td>
									<td class="column5">1</td>
									<td class="column6">$999.00</td>
									<td class="column7">$999.00</td>
									<td class="column8">$999.00</td>
									<td class="column9">$999.00</td>
									<td class="column10">$999.00</td>
									<td class="column11">$999.00</td>
									<td class="column12">$999.00</td>
									<td class="column13">$999.00</td>
									<td class="column14">$999.00</td>
									<td class="column15">$999.00</td>
									<td class="column16">$999.00</td>
									<td class="column17">$999.00</td>
									<td class="column18">$999.00</td>
								</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<script>
		function searchByForm() {
			$.ajax({
				type: 'POST',
				url: '{% url "sendDataBack" %}',
				data: {
						'action':'POST',
						'csrfmiddlewaretoken': '{{ csrf_token }}',
						'formId':$('#inlineFormInputGroupUsername2').val(),
				},
				dataType: 'json',
				success: function (data) {
					alert("ok");
				},
				error: function(data) {
					alert("something wrong");
				}
			});
			return false;
		};

	</script>


<!--===============================================================================================-->
	<script src="{% static 'management/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'management/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'management/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'management/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'management/js/main.js' %}"></script>

</body>
</html>
